# Site
name: 'PT-Url'
description: 'our Gateway to Diverse Perspectives on News and Events'
logo: 'assets/images/logo.png'
favicon: 'assets/images/favicon.ico'
url: "https://pturl.github.io" # the base hostname & protocol for your site, e.g. https://example.com
baseurl: '/lib'
disqus: 'demowebsite'
email: 'wowthemesnet@gmail.com'

include: ["_pages"]
#permalink: /:title/
permalink: /:name/
# Plugins
plugins:
    - jekyll-feed
    - jekyll-sitemap
    - jekyll-paginate
    - jekyll-seo-tag
    - jekyll-redirect-from
authors:
    sean:
      name:           Sean
      site:           https://pturl.github.io/lib/index.html
      avatar:         /assets/images/avatar1.jpg
      bio:            "Hi, I am Sean, the Blog Editor of PT-Url, the the site you're currently previewing. I hope you like it!"
      email:          wowthemesnet@gmail.com
      twitter:        https://twitter.com/wowthemesnet

    jane:
      name:           Jane
      site:           https://pturl.github.io/lib/index.html
      avatar:         /assets/images/avatar2.jpg
      bio:            "Blogger, fashionista, love to explore new ideas and write on my morning coffee!"
      email:          fakemail@gmail.com
      twitter:        https://twitter.com/wowthemesnet

# Defaults
defaults:

  # all posts
  - scope:
      path: "_posts"
    values:
      layout: post
      author: sal
      avatar: /assets/images/avatar1.jpg

  # all pages
  - scope:
      path: "_pages"
    values:
      layout: page

# Syntax
markdown: kramdown
highlighter: rouge

# Paginate
paginate: 10



# Exclude metadata and development time dependencies (like Grunt plugins)
exclude: [README.markdown, package.json, grunt.js, Gruntfile.js, Gruntfile.coffee, node_modules]
